.portrait {
  background-image: url(../images/selfportrait.png);
  background-position: right top;
  background-repeat: no-repeat;
  padding-bottom: 640px;
  margin-bottom: -640px;
}

#about-me {
  min-height: 640px;
}

#project1 {
  max-width: 550px;
  min-height: 350px;
}

#project2 {
  max-width: 275px;
  min-height: 175px;
}

#project3 {
  max-width: 275px;
  min-height: 175px;
}

#project4 {
  max-width: 275px;
  min-height: 175px;
}

#project5 {
  max-width: 275px;
  min-height: 175px;
}

.container {
  position: relative;
}
