body {
  background-color: #e6e0f9;
  color: #151360;
}

#navBar {
  background: #e6e0f9;
}

.heroBanner {
  float: right;
  padding-top: 100px;
  align-items: flex-end;
  z-index: 15;
}

.portrait {
  background-image: url(../images/selfportrait.png);
  background-position: left;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 800px;
  margin-bottom: -800px;
}

#aboutMe {
  min-height: 500px;
  padding-top: 550px;
}

#project1 {
  max-width: 590px;
  min-height: 390px;
}

#project2,
#project3,
#project4,
#project5 {
  max-width: 275px;
  min-height: 175px;
}

.container {
  position: relative;
}

.first-row,
.second-row,
.third-row {
  justify-content: flex-end;
}

.card {
  background-color: #151360;
  margin: 20px 20px;
  border-radius: 8px;
  padding: 20px 20px;
}

.footer-link {
  list-style-type: none;
  float: right;
  padding-left: 50px;
}

.footer-link a {
  text-decoration: none;
  color: #151360;
}
